SQL_SERVER_CONNECTION_STRING=Data Source=localhost,1433;Initial Catalog=CC520;User ID=cc520-admin;Password=<YOUR_PASSWORD>;Pooling=False;Connect Timeout=15;Trust Server Certificate=True;Authentication=SqlPassword